<div class="page-header">
    <h1>Performance web
        <small>Spring Boot</small>
    </h1>
</div>
<p>Cette application exemple sert de support à ma présentation sur l'<strong>amélioration des performances d'une
    webapp Spring Boot </strong>. Le but est de voir les améliorations que vous pouvez faire côté serveur ou côté
    présentation pour que votre application soit performante. Quand on parle performance nous pouvons dissocier les
    aspects liés à la sécurité et veux à la rapidité (2 critères utilisés aujourd'hui dans le calcul du page rank
    Google).</p>

<p>L'exemple fonctionnel utilisé est la conférence Mix-IT </p>

<h2>Exemple image logo</h2>
<img src="img/logo/logo_1500.png" class="img-responsive">

<h2>Exemple image responsive</h2>
<img src="img/mixit/mixit-amphi_2048.jpg" class="img-responsive">

<h2>Exemple image de fond</h2>
<div class="jumbotron dm_img__inbackground">
    <p><a class="btn btn-primary btn-lg" href="#" onClick="app.go('session')" role="button">Sessions Mix-IT 2016</a></p>
    <p>Dans le premier exemple l'image est directement intégrée au document via
        une balise. La nous l'utilisons comme fond</p>

</div>